@import "~blip-ds/dist/collection/styles/_colors.scss";
.navbar-item {
    display: flex;
    padding: 12px 4px;
}

.navbar-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    align-items: center;
    color: $color-neutral-dark-desk;
}