@import "~blip-ds/dist/collection/styles/_colors.scss";

.header {
    display: flex;
    background-color: $color-illustration-blue-jeans;
    color: $color-extend-grays-moon;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 40px;

    .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        * {
          text-decoration: none;
          color: inherit;
        }
    }

    .logo {
        display: flex;
        height: 50px;
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        .user {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 8px;
    }
    }

    
}