@import "~blip-ds/dist/collection/styles/_colors.scss";

.header {
  &-title {
    display: flex;
    flex-direction: row;
    color: $color-neutral-dark-desk;
    align-items: center;
    gap: 8px;
    padding: 24px;
  }
}
