@import "~blip-ds/dist/collection/styles/_colors.scss";

.header-config {
  padding: 24px 32px;
  border-bottom: 1px solid $color-neutral-medium-wave;
  .actions-left {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    bds-input {
      max-width: 300px;
    }
  }
}
.cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px;
  a {
    text-decoration: none;
    color: inherit;
  }
}
