@import "~blip-ds/dist/collection/styles/_colors.scss";

.home {
  background-color: $color-neutral-light-breeze;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: $color-neutral-dark-rooftop;

  .subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: $color-neutral-light-snow;

    .name {
      max-width: 45%;
    }

    .actions {
      display: flex;
      gap: 16px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 48px;

    .actions-box {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 24px;
      width: 100%;
      border-bottom: 2px solid $color-neutral-medium-wave;
    }

      .cards {
        display: grid;
        align-items: center;
        justify-content: space-evenly;
        grid-template-columns: repeat(auto-fill, 188px);
        width: 100%;
        gap: 24px;
        margin-top: 24px;
      }
  }
}
